:root {
	--max-width: 1100px;
	--fs-card-small: 12px;
	--fs-card-normal: 14px;
	--fs-card-big: 18px;

	--primary-color: hsl(0, 0%, 17%);
	--secondary-color: hsl(0deg 0% 43%);
	--ref-color: hsl(213deg 84% 49%);
}

* {
	margin: 0;
}