:root {
	--max-width: 1100px;
	--fs-card-small: 12px;
	--fs-card-normal: 14px;
	--fs-card-big: 18px;

	--primary-color: hsl(0, 0%, 17%);
	--secondary-color: hsl(0deg 0% 43%);
	--dark-grey: hsl(0, 0%, 29%);
	--ref-color: hsl(213deg 84% 49%);
}

* {
	margin: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center
}

.container {
	width: 1200px;
	padding: 0 20px;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100px;
	padding: 20px 0;
}

.title {
	font-size: 40px;
	font-weight: 400;
}