.Comment {
	display: grid;
	grid-template-columns: [start] auto auto 1fr [end];
	align-items: flex-start;
	gap: 7px;
	margin-bottom: 25px;
}

.name {
	font-weight: 700;
	color: var(--dark-grey);
}

.text {
	grid-column: start / end;
	color: var(--dark-grey);
	line-height: 28px;
}